@media screen and (min-width: 800px) {
    .reveal section {
        font-size: 0.8em;
    }

    .reveal section .smaller-text-on-desktop {
        font-size: 0.65em;
    }

    .reveal .restrict-h-img-on-landscape img {
        max-height: 14rem;
        width: auto;
    }

    .reveal .restrict-v-img-on-landscape img {
        max-height: 28rem;
        width: auto;
    }
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .reveal div.slides {
        transform: translate(-50%, -70%) scale(0.35) !important;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .reveal .restrict-h-img-on-landscape img {
        max-height: 12rem;
        width: auto;
    }

    .reveal .restrict-v-img-on-landscape img {
        max-height: 24rem;
        width: auto;
    }
}

.reveal .byline {
    display: none;
}

.reveal .use-heading-font {
    font-family: var(--r-heading-font);
}

.reveal .top-gap {
    padding-top: 0.2em;
}

.reveal .bottom-gap {
    padding-bottom: 0.2em;
}

.reveal .top-gap-large {
    padding-top: 1.5em;
}

.reveal .left-gap {
    padding-left: 1em;
}

.reveal .medium-text {
    font-size: 0.9em;
}

.reveal div.side-gaps {
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.reveal .smaller-text {
    font-size: 0.85em;
}

.reveal .smaller-text {
    font-size: 0.75em;
}

.reveal .smallest-text {
    font-size: 0.65em;
}

.reveal .tiny-text {
    font-size: 0.5em;
}

.reveal .tiny-description dl dd p {
    font-size: 0.5em;
}

.reveal .text-left {
    text-align: left;
    padding-left: 12rem;
}

.reveal div .has-text-left {
    text-align: left;
}

.reveal .smaller-list-elements li {
    font-size: 0.8em;
}

.reveal .smaller-list-elements li p {
    margin: 0.4em;
}

.reveal .link-bg-dark a {
    color: #6ca0e8;
}

.reveal .link-bg-dark a:hover {
    color: #1b91ff;
}

.reveal .slides section .fragment.highlight-bold, .reveal .slides section .fragment.highlight-current-italic {
    opacity: 1;
    visibility: inherit
}

.reveal .slides section .fragment.highlight-bold.visible {
    font-weight: 500;
    font-style: italic;
}

.reveal .slides section .fragment.highlight-current-italic.current-fragment {
    font-style: italic;
}

.reveal .progress {
    height: 5px;
}

.reveal .slide-number {
    font-family: var(--r-main-font);
    color: rgba(0, 0, 0, 0.4);
    background-color: inherit;
}

.reveal .bg-oppvarming {
    background-color: #d5efdd;
}

.reveal .bg-hoveddel {
    background-color: #d4ddf3;
}

.reveal .bg-avslutning {
    background-color: #e8d3d2;
}

.reveal .bordered img {
    border: 1px dashed slategray;
    background-color: whitesmoke;
    padding: 0.5rem;
}

/*
.reveal blockquote:before {
    content: "\201c";
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: #626262;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}
*/

.reveal .push-down {
    position: relative;
    animation: push-down 2s ease 1s 3;
}

@keyframes push-down {
    0% {
        left: 0;
        top: 0;
    }
    30% {
        left: 0;
        top: 40px;
    }
    100% {
        left: 0;
        top: 0;
    }
}

.reveal .pulse h1:hover {
    position: relative;
    animation: pulse 2s ease-in-out 1;
}

.reveal .pulse h1:active {
    position: relative;
    animation: pulse 2s ease-in-out 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.3);
        color: hotpink;
    }
    75% {
        transform: rotate(1turn);
    }
}