html {
    height: 100%;
}
body {
    background: #7bc267;
    padding: 32px 0;
    height: 100%;
    /* Center box */
    display: grid;
    place-content: center;
}
section {
    display: flex;
    gap: 16px;
    border-color: black;
    border-width: 1px;
}
.holder {
    text-align: center;
    padding: 1rem;
}
.box {
    width: 75px;
    height: 75px;
    /*background: #3867CB;*/
    padding: 8px;
    display: grid;
    place-content: center;
    color: whitesmoke;
    text-align: center;
    border-radius: 50%;
    border: black 2px;
}