@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,500italic,700italic);

:root {
    --r-column-gap: 32px;
    --r-main-font: Fira Sans, sans-serif;
    --r-heading-font: News Cycle, Impact, sans-serif;
    --r-gitpod-bg: #f5f4f4;
    /*--r-gitpod-shadow: 0 0.625rem 1.5rem 0rem rgba(0, 0, 0, 0.0);*/
    --shadow-color: 159deg 18% 37%;
    --shadow-elevation-medium: 0 0.625rem 4rem hsl(var(--shadow-color) / 0.5);
}

body {
    font-family: var(--r-main-font);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--r-gitpod-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--r-heading-font);
    text-transform: uppercase;
    padding-top: 1rem;
    text-decoration: underline;
}

h2, h3 {
    position: sticky;
    top: 1.5rem;
    background-color: white;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.ulist .title {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;
}

p {
    font-size: 1.2rem;
}

li p {
    font-size: 1.1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr min(65ch, calc(100% - (2 * var(--r-column-gap)))) 1fr;
    grid-column-gap: var(--r-column-gap);
}

.wrapper > * {
    grid-column: 2;
}

.shadow-box {
    --column-width: min(65ch, calc(100% - (2 * var(--r-column-gap))));
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: calc(var(--column-width) + 1.5 * var(--r-column-gap));
    margin: 0 calc(50% - (var(--column-width) / 2) - var(--r-column-gap));
    z-index: -1;
    background-color: white;
    /*box-shadow: var(--shadow-elevation-medium)*/
}

#menu-container {
    min-width: 100%;
    align-content: center;
}

#top-menu {
    --menu-width: min(65ch, 100%);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: var(--menu-width);
    margin-left: calc((100% - var(--menu-width)) / 2);
    z-index: 3;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
}

.menu-item {
    margin: 0;
    padding: 0 1rem;
    overflow: clip;
    min-width: 4ch;
    width: 25%;
    text-align: center;
    white-space: nowrap;
    text-overflow: fade(3rem);
}

.menu-item:hover {
    background-color: darkorange;
    color: black;
    transition: 0.5s;
}

.menu-item a {
    text-decoration: none;
    color: currentColor;
}

img {
    object-fit: contain;
    text-align: center;
    background-color: white;
}

.full-bleed {
    max-height: 60vh;
    width: 100%;
    grid-column: 1 / 4;
    object-fit: cover;
}

img.contained {
    max-width: calc(100% - (2 * var(--r-column-gap)));
    margin: 1rem auto;
}

img.contained-small {
    max-width: max(60%);
    margin: 1rem auto;
}

img.narrow-bleed {
    max-width: max(85%, 85vw);
    margin: 1rem auto;
}

img.field {
    background-color: rgb(216, 232, 220);
    /*border: 1px solid;*/
}

img.tall {
    max-height: 80vh;
}

img.border {
    border: solid black 1px;
}

ul {
    margin-top: 0;
    padding-left: 2.5ch;
    line-height: 1;
}

/*@media only screen and (max-width: 900px) {*/
/*    body {*/
/*        transform: scale(3);*/
/*    }*/
/*}*/

@media screen and (max-device-width: 1200px) {
    html {
        font-size: 2rem;
    }
    body {
        font-size: 32px;
        /*transform: scale(1);*/
    }
    h1, h2, h3, h4, h5, h6 {
        padding-top: 1rem;
        margin-bottom: 0;
    }

    h3, h4, h5, h6 {
        padding-bottom: 0.5rem;
    }

    #top-menu {
        font-size: 48px;
    }

    .wrapper {
        grid-template-columns: 1fr calc(100% - (2 * var(--r-column-gap))) 1fr;
    }

    .shadow-box {
        margin: 0 calc(var(--r-column-gap) / 4);
        width: calc(100% - (var(--r-column-gap)));

    }

    img.narrow-bleed {
        max-width: max(90%, 90vw);
    }

    img.contained-small {
        max-width: max(50%);
        margin: 1rem auto;
    }

}